{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Adiciona Picolé{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div" style="margin-left: 40%;margin-bottom: 5%;">
    <h1>Adiciona Picolé</h1>
    <form method="POST" style="margin-top: 3%;">
        <fieldset class="border p-3" style="width: 30%;align-items: center;" >
            <legend class="w-auto">Picolé</legend>
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success" value="Criar Lote" style="margin-top: 10px;">
        </fieldset>
    </form>
</div>
{% endblock %}